.blackJack {
    width: 60%;
    margin: 0 auto 2%;
    background-color: #131B2F;
    border-radius: 10px;
    padding: 2%;
    color: white;
    justify-items: center;
}
.blackJack .link {
    display: block;
    text-align: center;
}
.displayBlock {
    display: block;
}
.displayNone {
    display: none;
}
#displayBlock {
    display: block;
}
#displayNone {
    display: none;
}
.blackJack img {
    width: 150px;
}
/* .handImage {
    width: 20%;
} */
/* .cardimages {
    justify-content: center;
} */
/* .cardimages :nth-child(2) img{
    width: 30%;
    height: 100%;
} */
.cardimages div {
    display: flex;
    width: 100%;
    justify-content: center;
}
.playerHand div {
    display: flex;
    justify-content: center;
}
/* .deck {
    margin: 0 auto;
} */
.buttons {
    display: flex;
    justify-content: center;
}
.buttons button {
    margin: 10px;
}
.start {
    margin-left: 42%;
}
.grid {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
}
.dealer {
    display: flex;
    justify-content: center;
    /* grid-column: 2/3; */
    /* grid-row: 1/2; */
}
.player {
    /* grid-column: 1/3; */
    /* grid-row: 2/3; */
}
.dealerHand {

}